sprint1/build
sprint1/.gradle
sprint1/bin
sprint1/gradle
sprint1/logs
sprint1/.settings
sprint1/.vscode
sprint0/build
sprint0/.gradle
sprint0/bin
sprint0/gradle
sprint0/logs
sprint0/.settings
sprint0/.vscode
helloworldqak24
unibolibs
sprint2/build
sprint2/.gradle
sprint2/bin
sprint2/gradle
sprint2/logs
sprint2/.settings
sprint2/.vscode
sprint3/build
sprint3/.gradle
sprint3/bin
sprint3/gradle
sprint3/logs
sprint3/.settings
sprint3/.vscode

sprintdue-1.0.tar
sprintdue-1.0
sprintuno-1.0

