<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            color: #333;
            margin: 20px;
        }
        h1 {
            color: #4CAF50;
        }
        p {
            font-size: 1.2em;
        }
    </style>
</head>



<body>
    <h1>Welcome to Sprint3 Application</h1>
    <p>This is a test page served by Spring Boot.</p>
    <p>Current WIS IP: <span th:text="${wisip}">not connected</span></p>
    <p>Application Name: <span th:text="${appname}">Unknown</span></p>

    <p>Current WasteStorage: <span th:text="${wasteStorage}" id="WasteStorage">Unknown</span></p>
    <p>Current AshStorage: <span th:text="${ashStorage}" id="AshStorage">Unknown</span></p>
    <p>Current Incinerator: <span th:text="${incinerator}" id="Incinerator">Unknown</span></p>
    <p>Current OpRobot: <span th:text="${opRobot}" id="OpRobot">Unknown</span></p>

    <button id="pulsante">Aggiungi RP</button>

    <script src="guimain.js"></script>

</body>
</html>


<!-- 

    the current state of the WasteStorage, i.e. the number of RP currently stored in it;

    the current state of the AshStorage, i.e. an indication of the level of its capacity currently used;

    the current state of the Incinerator, i.e. if it burning or not;

    the state of the OpRobot, i.e. an indication of its current location in the service area and of the job that it is doing.
 -->